<aside class="is-narrow-mobile is-fullheight section is-hidden-mobile">
  <p class="menu-label is-hidden-touch">Navegación</p>
  <ul class="menu-list">
    <li>
      <a routerLink="/dashboard" routerLinkActive="is-active">
        <span class="icon"><i class="fa fa-chart-line"></i></span> Dashboard
      </a>
    </li>
    <li>
      <a routerLink="/data-procesing" routerLinkActive="is-active">
        <span class="icon">
          <i class="fa fa-arrow-up-right-dots"></i>
        </span>
        Data Procesing
      </a>
    </li>

    <li>
      <a routerLink="/data-monitoring" routerLinkActive="is-active">
        <span class="icon">
          <i class="fa fa-print"></i>
        </span>
        Data Monitoring
      </a>
    </li>

    <li>
      <a routerLink="/configuration" routerLinkActive="is-active">
        <span class="icon"><i class="fa fa-gears"></i></span> Configuración
      </a>
    </li>
  </ul>
</aside>
