<section class="section">
  <h1 class="title">Historial de pedidos</h1>
  <div class="card">
    <div class="card-content">
      <div class="content">
        <div class="columns">
          <div class="column is-4">
            <div class="field">
              <label for="" class="label">Tienda</label>
              <div class="control">
                <input
                  [formControl]="tiendaControl"
                  type="text"
                  placeholder=""
                  class="input"
                  [attr.disabled]="'true'"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="columns">
          <div class="column is-12">
            <table class="table" *ngIf="pedidos.length > 0; else emptyTemplate">
              <thead>
                <tr>
                  <th># Pedido</th>
                  <th>Estado</th>
                  <th>Fecha Creacion</th>
                  <th>Fecha Completado</th>
                  <th>Distancia</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let pedido of pedidos">
                  <td>{{ pedido.code }}</td>
                  <td>
                    <ng-container *ngIf="!pedido.status; else noCompleted"
                      >Pendiente</ng-container
                    >
                    <ng-template #noCompleted>Enviado</ng-template>
                  </td>
                  <td>{{ pedido.createdAt | dateStr }}</td>
                  <td>{{ pedido.completedAt | dateStr }}</td>
                  <td>
                    <button
                      class="button is-small is-info"
                      (click)="onMoreInformation(pedido)"
                    >
                      Más Información
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>

            <ng-template #emptyTemplate>
              <div class="notification is-warning">
                <strong>No hay pedidos a visualizar. </strong>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
